main {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}
#raddress-input {
    width: 75%;
    text-align: center;
}

main h1 {
    color: white;
}
main h4, #error {
    color: red;
    text-align: center;
}
#raddress-form {
    width: 100%;
}
#test {
    color: white;
}