main {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 2vw 0 2vw;
}
#raddress-input {
    width: 90%;
    text-align: center;
    opacity: .9;
    border: none;
    border-radius: .3rem;
}
button {
    width: 50%;
    border: none;
    border-radius: .3rem;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .9;
}

#balance-display {
    margin-top: 2vh;
    color: white;
}
main h4, #error {
    color: red;
    text-align: center;
}
#raddress-form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    width: 100%;
}

#transaction-card-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    margin: 0;
}
.transaction-card {
    display: flex;
    flex-direction: column;
    color: #00FF41;
    border-radius: .5rem;
    width: 100%;
    background-color: rgb(35, 35, 35);
    opacity: 1;
    overflow-wrap: break-word;
}
.link {
    text-decoration: none;
}
h5 {
    margin: 1vh;
}
.labels {
    color: white;
}
#raddress {
    color: #00FF41;
    margin: 5vh 0 0 0;
}
#message {
    text-align: center;
    color: #00FF41;
    margin: 0;
}