header {
    z-index: 1000;  /* stays above everything */
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    margin: 0;
    align-items: center;
    background-color: black;
}
#header-image {
    width: 100%;
}
#header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
header h1 {
    color: white;
    margin: 0;
}
#image-link {
    width: 25%;
    text-decoration: 0;
    -webkit-tap-highlight-color: transparent;
}